<!--最近の投稿３件を表示する-->
<div class="container mt-5">
  <h4 class="top"><i class="fas fa-campground"></i> 最近の投稿</h4>

  <div class="row row-cols-md-3 g-4 w-100">
    <% @new_3_campsites.each do |campsite| %>
      <% if campsite.user.is_deleted == false %>
        <div class="col-mb-3 col-sm-1 mb-5">
          <div class="card-img h-100 mt-4 shadow-sm">
            <%= image_tag campsite.get_campsite_image, class: "card-img-top img-fluid", style: "height:200px" %>
              <div class="card-body">
                <h5 class="card-title"><%= campsite.title %></h5>
                <p class="card-text text-truncate"><%= campsite.opinion %></p>
                <p class="card-text"><%= campsite.created_at.strftime('%Y/%m/%d') %></p>
              </div>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
  <div class="row my-5 pr-3">
    <%= link_to '投稿一覧へ', campsites_path, class: "ml-auto btn btn-outline-dark rounded-pill" %>
  </div>
</div>


<!--サイトの紹介文-->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 col-sm-10">
      <h4 class="top-title my-3"><i class="fas fa-caravan"></i> Peguu(ペグー) へようこそ！</h4>
        <h6 class="pt-md-3">キャンプが好きなあなたのためのウェブサイトです。</h6>
        <p class="mt-md-4">
          キャンプで使っている道具を紹介したり、キャンプサイトの投稿ができます！
          みんなで共有して、良いキャンプサイトやアイテムを見つけてみましょう！
        </p>
        <p class="mt-md-3">
          あなたにとって、より良いキャンプライフを…
        </p>
    </div>
    <!--画像挿入-->
    <div class="col-md-6 col-sm-10 mx-auto">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "0.jpg" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "1.jpg" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "2.jpg" %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>