<% if @user.is_deleted == false %>
  <!--プロフィール欄-->
  <div class="card border-info" style="width: 18rem;">
    <div class="card-header text-center border-info bg-success text-white">
      <i class="fas fa-user-circle"></i> プロフィール
    </div>
    
    <div class="card-body">
      <div class="image"><%= image_tag user.get_profile_image, size: '200x190', class: "d-block mx-auto" %></div>
      <p class="card-text text-center mt-3">@ <%= user.name %></p>
      <p class="card-text text-center"><%= user.introduction %></p>
      <p id="followings_count_<%= @user.id %>", class="card-text text-center"><%= render 'public/relationships/followings_counter', user: user %></p>
      <p id="followers_count_<%= @user.id %>", class="card-text text-center"><%= render 'public/relationships/followers_counter', user: user %></p>
      <p id="follow_btn_<%= user.id %>", class="card-text text-center"><%= render 'public/relationships/btn', user: user %></p>
      
      <!--ゲストユーザーを弾く設定-->
      <% if current_user == user && user.name != "ゲストユーザー" %>
        <div class="text-center mb-3">
          <%= link_to edit_user_path(user), class: "btn btn-block btn-outline-dark btn-sm" do %>
            <i class="fas fa-edit"></i> 登録情報編集
          <% end %>
        </div>
      <% end %>
      <% if current_user == user %>
        <div class="text-center mb-3">
          <%= link_to bookmarks_user_path(@user), class: "btn btn-block btn-outline-dark btn-sm" do %>
            <i class="fas fa-book"></i> ブックマーク
          <% end %>
        </div>
        <div class="text-center">
          <%= link_to favorites_user_path(@user), class: "btn btn-block btn-outline-dark btn-sm" do %>
            <i class="fas fa-heart"></i> いいね
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>